
<kendo-grid [data]="customers" [height]="500">
  <kendo-grid-column field="firstName" title="First Name" width="40">
  </kendo-grid-column>
  <kendo-grid-column field="middleName" title="Middle Name" width="40">
  </kendo-grid-column>
  <kendo-grid-column field="lastName" title="Last Name" width="40">
  </kendo-grid-column>
  <kendo-grid-column field="birthDate" title="Birth Date" width="40">
  </kendo-grid-column>
  <kendo-grid-column field="maritalStatus" title="Marital Status" width="40">
  </kendo-grid-column>
</kendo-grid>

